.idea/
eggs
*.egg-info
logs
*.log
node_modules
*.iml
.idea_modules/
.vscode/
.envrc
__pycache__/
*.py[cod]
*$py.class
.Python
env/
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
sdist/
*.egg-info/
*.egg
*.manifest
.tox/
.coverage.*
coverage.xml
nosetests.xml
*,cover
.cache
venv/
.venv/
.DS_Store
.tags
/dist*
